In [1]:
'hello'

'hello'

In [3]:
"I am going on  a run"

'I am going on  a run'

In [4]:
name = 'John Royce'

In [5]:
print(name)

John Royce

In [6]:
name[0]

'J'

In [7]:
print("hello")

hello

In [8]:
"hellow world one"

'hellow world one'

In [10]:
"hello world one"
print("hello world tow")

hello world tow

print("hello world tow")

In [12]:
print)

SyntaxError: invalid syntax (<ipython-input-12-83d2c128485f>, line 1)

In [14]:
print("Hello \n world")

Hello
 world

In [15]:
print("Hello \t world")

Hello 	 world

In [16]:
len('test')

4

In [17]:
len

In [18]:
len("I am")

4

In [19]:
mystring = "Hello World"

In [20]:
mystring

'Hello World'

In [21]:
mystring[0]

'H'

In [22]:
mystring[7]

'o'

In [23]:
mystring[8]

'r'

In [24]:
mystring[9]

'l'

In [25]:
mystring[-2]

'l'

In [26]:
mystring[]

SyntaxError: invalid syntax (<ipython-input-26-e6d00cd6ec90>, line 1)

In [27]:
mystring

'Hello World'

In [28]:
mystring = 'abcdefhijk'

In [29]:
mystring

'abcdefhijk'

In [31]:
mystring[2]

'c'

In [32]:
mystring[2:]

'cdefhijk'

In [34]:
mystring[:3]

'abc'

In [35]:
mystring

'abcdefhijk'

In [36]:
mystring[3:6]

'def'

In [39]:
mystring[1:3]

'bc'

In [40]:
mystring = 'abcdefghijk'

In [42]:
mystring[::]

'abcdefghijk'

In [43]:
mystring[::2]

'acegik'

In [44]:
mystring[::3]

'adgj'

In [45]:
mystring[2:7:2]

'ceg'

In [46]:
mystring[::-1]

'kjihgfedcba'

In [47]:
"Hello World"[::-1]

'dlroW olleH'

In [48]:
"tinker"[1:4]

'ink'

In [49]:
name = "Sam"

In [51]:
#name[0] = "P"

In [52]:
name

'Sam'

In [53]:
name[1:]

'am'

In [54]:
last_letters = name[1:]

In [55]:
last_letters

'am'

In [56]:
'P' + last_letters

'Pam'

In [57]:
x = 'Hello World'

In [58]:
x + "it is beautiful outside!"

'Hello Worldit is beautiful outside!'

In [59]:
x = x + " it is beatuful outside!"

In [60]:
x

'Hello World it is beatuful outside!'

In [61]:
name = R * 50

NameError: name 'R' is not defined

In [62]:
letter = 'z'

In [63]:
letter * 10

'zzzzzzzzzz'

In [64]:
'2' + '3'

'23'

In [65]:
'2' * 2

'22'

In [66]:
'2' + 2

TypeError: must be str, not int

In [69]:
'2' * 3

'222'

In [70]:
x = 'Hello World'

In [71]:
x.lower()

'hello world'

In [72]:
x.upper()

'HELLO WORLD'

In [73]:
x = x.upper()

In [74]:
x

'HELLO WORLD'

In [1]:
my_list = [1,2,3]

In [2]:
my_list

[1, 2, 3]

In [3]:
len(my_list)

3

In [4]:
my_list[]

SyntaxError: invalid syntax (<ipython-input-4-642d03a6fdb2>, line 1)

In [5]:
my_list[1]

2

In [6]:
mylist = ['one', 'two', 'three']

In [7]:
mylist[1]

'two'

In [8]:
mylist[1:]

['two', 'three']

In [9]:
mylist[2:]

['three']

In [10]:
mylist[0:1]

['one']

In [11]:
my_list = ['one', 'two', 'three']

In [12]:
another_list = ['four', 'five']

In [13]:
new_list = my_list + another_list

In [14]:
new_list

['one', 'two', 'three', 'four', 'five']

In [15]:
mylist

['one', 'two', 'three']

In [16]:
mylist * 2

['one', 'two', 'three', 'one', 'two', 'three']

In [17]:
new_list.

SyntaxError: invalid syntax (<ipython-input-17-bfd1632c3aa5>, line 1)

In [18]:
mylist

['one', 'two', 'three']

In [19]:
mylist.

SyntaxError: invalid syntax (<ipython-input-19-9af022a523df>, line 1)

In [20]:
new_list.pop()

'five'

In [21]:
new_list

['one', 'two', 'three', 'four']

In [22]:
new_list.pop()

'four'

In [23]:
new_list

['one', 'two', 'three']

In [24]:
new_list.pop()

TypeError: 'str' object cannot be interpreted as an integer

In [25]:
new_list

['one', 'two', 'three']

In [26]:
new_list.pop(0)

'one'

In [27]:
my_list

['one', 'two', 'three']

In [30]:
my_list.reverse()

In [31]:
my_list

['two', 'three', 'one']

In [32]:
my_list

['two', 'three', 'one']

In [33]:
type(my_list)

list